@font-face {
    font-family: Poppins;
    src: url(Assets/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsThin;
    src: url(Assets/Poppins/Poppins-Regular.ttf);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img{
    position: absolute;
}


#VectorMidRight{
    top: 150px;
    right: 0px;
}

#VectorTopLeft{
    top: 0px;
    left: 0px;
}


#VectorMidMid{
    top: 450px;
    right: 240px;
}

#VectorMidLeft{
    top: 400px;
    left: 0px;
}

#VectorTopMid{
    top: 19.41%;
    right: 30%;
}

#VectorPlant{
    right: 5vw;
    top: 150vh;
}

#Plant{
    right: 7vw;
    top: 110vh;
}

nav{
    position: absolute;
    width: 90vw;
    height: 20vh;
    top: 0%;
    left: 5vw;
    padding-top: 6vh;
}

.grape{
    position: absolute;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    color: white;
    display: inline;
}

.grape:hover{
    cursor: pointer;
}

#options{
    position:absolute;
    height: 100%;
    width: 30%;
    left: 50%;
    padding-top: 10px;
}

.option{
    position: relative;
    display: inline;
    margin: 30px;

    font-weight: 600;
    font-size: 16px;
    font-family: Poppins;

}

.option:hover{
    cursor: pointer;
    color: gray;
}

#login{
    position: absolute;
    height: 40px;
    width: 175px;
    right: 0px;
}

.container1{
    position: relative;
    padding-top: 10%px;
    padding-left: 10%px;

    width: 50vw;
    height: 50vh;

    left: 20vw;
    top: 30vh;
}

button{
    position: relative;
    /* top: 527px;
    left: 361px; */
    width: 249px;
    height: 60px;

    background-image: linear-gradient(90deg, rgba(115, 224, 169, 1), rgba(91, 104, 223, 1));
    border: 0px;
    border-radius: 50px;

    font-family: Poppins;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

button:hover{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(36, 36, 36);
}

.title{
    position: relative;
    width: 539px;
    height: 192px;
    margin-bottom: 25px;
    
    
    color: #212121;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
}

.container2{
    position: absolute;
    width: 50%;
    top: 150vh;
    left: 5vw;
}

.subtitle{
    width: 523px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}

.paragraph{
    font-family: PoppinsThin;
    font-weight: 500;
    font-size: 24px;
    width: 643px;
    margin-top: 30px;
    margin-bottom: 30px;
}


::-webkit-scrollbar {
    display: none;
}